.gallery_container{
    padding: 10%;
    padding-top: 0;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.photo{
    display: inline-flex;
    height: 400px;
    width: 400px;
    margin: 20px;
    border-radius: 3px;
}

.image{
    height: 100%;
    width: 100%;
}

.bottom_container{
    padding: 0;
}

.body_container{
    padding: 0;
    width: 100%;
}
