@font-face {
    font-family: "Hattori Hanzo";
    src: url('..\\assets\\fonts\\hattori_hanzo\\Hattori_Hanzo.otf');
}

h1, h2, h3, h4, h5, h6, a, p{
    font-family:"Hattori Hanzo", Helvetica, sans-serif;
}

.navbar{
    padding-bottom: 0px;
}

.glyphicon{
    color: #777777;
}

.generic_navbar_container{
    flex-direction: column;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    height: 80px;
    line-height: 75px;
    font-size: 2.5em;
    background-color: #e2e2e2;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.generic_navbar_home{
    padding-left: 25px;
    padding-right: 25px;
    max-width: 125px;
}

.generic_navbar_home_glyphicon, .generic_navbar_blog_glyphicon, .generic_navbar_gallery_glyphicon, .generic_navbar_about_glyphicon{
    visibility: hidden;
    display: none;
}

.generic_navbar_home:hover .generic_navbar_home_glyphicon{
    visibility: visible;
    display: block;
}

.generic_navbar_home:hover .generic_navbar_home_text{
    visibility: hidden;
    display: none;
}

.generic_navbar_blog, .generic_navbar_about, .generic_navbar_gallery{
    float: right;
    padding-left: 0px;
    padding-right: 25px;
    max-width: 125px;
}

.generic_navbar_blog:hover .generic_navbar_blog_glyphicon{
    visibility: visible;
    display: block;
}

.generic_navbar_blog:hover .generic_navbar_blog_text{
    visibility: hidden;
    display: none;
}

.generic_navbar_gallery:hover .generic_navbar_gallery_glyphicon{
    visibility: visible;
    display: block;
}

.generic_navbar_gallery:hover .generic_navbar_gallery_text{
    visibility: hidden;
    display: none;
}

.generic_navbar_about:hover .generic_navbar_about_glyphicon{
    visibility: visible;
    display: block;
}

.generic_navbar_about:hover .generic_navbar_about_text{
    visibility: hidden;
    display: none;
}

.generic_navbar_active_page{
    font-size: 1.5em;
}

.generic_navbar_links{
    text-decoration: none;
    color: #777777;
}

.generic_navbar_hamburger{
    float: right;
    padding-right: 25px;
}
